################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Data/try.txt
/Source/FlarmDisplayPFLAUSend/.vs/FlarmDisplayPFLAUSend
/Source/FlarmDisplayPFLAUSend/FlarmDisplayPFLAUSend/obj
/Source/FlarmDisplayPFLAUSend/packages/SerialPortStream.2.4.2
/Source/FlarmTerminal/.vs
/Source/FlarmTerminal/FlarmMessageParser/bin/Debug
/Source/FlarmTerminal/FlarmMessageParser/bin/Release
/Source/FlarmTerminal/FlarmMessageParser/obj
/Source/FlarmTerminal/FlarmTerminal/bin/Debug
/Source/FlarmTerminal/FlarmTerminal/obj
/Source/FlarmTerminal/NMEAParser/bin/Debug/net6.0
/Source/FlarmTerminal/NMEAParser/obj
/Source/FlarmTerminal/NMEAParser.In
/Source/FlarmTerminal/NMEAParser.keep
/Source/FlarmTerminal/packages
/Source/FlarmTerminal/FlarmTerminal.v12.suo
/Source/FlarmTerminal/FlarmTerminal/GUI/Beeper.cs
/Source/FlarmTerminal/FlarmTerminal/bin/Release/net8.0-windows7.0/*
/Source/FlarmTerminal/FlarmTerminal/bin/Release/net8.0-windows7.0/Logs/FlarmTerminal.log
/Source/FlarmTerminal/FlarmTerminal/bin/publish
/Source/FlarmTerminal/FlarmTerminal/bin/Release/net8.0-windows7.0/FlarmMessageParser.dll
/Source/FlarmTerminal/FlarmTerminal/bin/Release/net8.0-windows7.0/FlarmMessageParser.pdb
/Source/FlarmTerminal/FlarmTerminal/bin/Release/net8.0-windows7.0/FlarmTerminal.deps.json
/Source/FlarmTerminal/FlarmTerminal/bin/Release/net8.0-windows7.0/FlarmTerminal.exe
/Source/FlarmTerminal/FlarmTerminal/bin/Release/net8.0-windows7.0/Microsoft.AspNetCore.SystemWebAdapters.dll
/Source/FlarmTerminal/FlarmTerminal/bin/Release/net8.0-windows7.0/System.Runtime.Caching.dll
/Source/FlarmTerminal/FlarmTerminal/bin/Release/net8.0-windows7.0/UCNLNMEA.dll
/Source/FlarmTerminal/FlarmTerminal/bin/Release/net8.0-windows7.0/UCNLNMEA.pdb
/Source/FlarmTerminal/FlarmTerminal/Properties/PublishProfiles/ClickOnceProfile.pubxml
/Source/FlarmTerminal/FlarmTerminal/Properties/PublishProfiles/ClickOnceProfile.pubxml.user
/Source/FlarmTerminal/FlarmProperties/bin/Debug/net8.0/FlarmProperties.dll
/Source/FlarmTerminal/FlarmProperties/bin/Debug/net8.0/FlarmProperties.pdb
/Source/FlarmTerminal/FlarmProperties/obj/Debug/net8.0/ref/FlarmProperties.dll
/Source/FlarmTerminal/FlarmProperties/obj/Debug/net8.0/refint/FlarmProperties.dll
/Source/FlarmTerminal/FlarmProperties/obj/Debug/net8.0/FlarmProperties.AssemblyInfoInputs.cache
/Source/FlarmTerminal/FlarmProperties/obj/Debug/net8.0/FlarmProperties.csproj.CoreCompileInputs.cache
/Source/FlarmTerminal/FlarmProperties/obj/Debug/net8.0/FlarmProperties.csproj.FileListAbsolute.txt
/Source/FlarmTerminal/FlarmProperties/obj/Debug/net8.0/FlarmProperties.dll
/Source/FlarmTerminal/FlarmProperties/obj/Debug/net8.0/FlarmProperties.pdb
/Source/FlarmTerminal/FlarmProperties/obj/Debug/net8.0/FlarmProperties.sourcelink.json
/Source/FlarmTerminal/FlarmProperties/obj/FlarmProperties.csproj.nuget.dgspec.json
/Source/FlarmTerminal/FlarmProperties/obj/project.assets.json
/Source/FlarmTerminal/FlarmProperties/obj/project.nuget.cache
*.cache
/Source/FlarmTerminal/FlarmProperties/obj/Release/net8.0/FlarmProperties.GeneratedMSBuildEditorConfig.editorconfig
/Source/FlarmTerminal/FlarmProperties/obj/Release/net8.0/FlarmProperties.GlobalUsings.g.cs
/Source/FlarmTerminal/FlarmProperties/bin/Release/net8.0/FlarmProperties.deps.json
/Source/FlarmTerminal/FlarmProperties/bin/Release/net8.0/FlarmProperties.dll
/Source/FlarmTerminal/FlarmProperties/bin/Release/net8.0/FlarmProperties.pdb
*.dll
/Source/FlarmTerminal/FlarmProperties/obj/Release/net8.0/FlarmProperties.csproj.BuildWithSkipAnalyzers
/Source/FlarmTerminal/FlarmProperties/obj/Release/net8.0/FlarmProperties.csproj.FileListAbsolute.txt
*.pdb
/Source/FlarmTerminal/FlarmProperties/obj/Release/net8.0/FlarmProperties.sourcelink.json
/Source/FlarmTerminal/Error2025-04-15.log
/Source/FlarmTerminal/Miscellaneous FilesError2025-04-15.log
/Releases/Preview/FlarmTerminal_1.0.0.0.zip
